{{> dashboardHeader}}
<div class="wrapper" style="height: auto;">

    {{>nav}}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{subtitle}}
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Main row -->
            <div class="row">
                <div class="col-md-4">
                    <!-- Box Comment -->
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <div class="user-block">
                                <img class="img-circle" src="../dist/img/goodjob.png" alt="User Image">
                                <span class="username">Medallion of Interpreter</span>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <img class="img-responsive pad" src="../dist/img/photo2.png" alt="Photo">
                            <div class="row">
                                <div class="col-lg-6">
                                    <p>4000 points</p>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Qty<span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a>1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                            </ul>
                                        </div><!-- /btn-group -->
                                        <button type="button" class="btn btn-block btn-primary">Redeem!</button>                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Box Comment -->
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <div class="user-block">
                                <img class="img-circle" src="../dist/img/goodjob.png" alt="User Image">
                                <span class="username">Echo Dot</span>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <img class="img-responsive pad" src="../dist/img/photo2.png" alt="Photo">
                            <div class="row">
                                <div class="col-lg-6">
                                    <p>100000 points</p>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Qty<span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a>1</a></li>
                                                <li><a>2</a></li>
                                                <li><a>3</a></li>
                                            </ul>
                                        </div><!-- /btn-group -->
                                        <button type="button" class="btn btn-block btn-primary">Redeem!</button>                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Box Comment -->
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <div class="user-block">
                                <img class="img-circle" src="../dist/img/goodjob.png" alt="User Image">
                                <span class="username">Rogue Fitness</span>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <img class="img-responsive pad" src="../dist/img/photo2.png" alt="Photo">
                            <div class="row">
                                <div class="col-lg-6">
                                    <p>50000 points</p>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Qty<span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a>1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                            </ul>
                                        </div><!-- /btn-group -->
                                        <button type="button" class="btn btn-block btn-primary">Redeem!</button>                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <!-- Box Comment -->
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <div class="user-block">
                                <img class="img-circle" src="../dist/img/goodjob.png" alt="User Image">
                                <span class="username">UA mileage</span>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <img class="img-responsive pad" src="../dist/img/photo2.png" alt="Photo">
                            <div class="row">
                                <div class="col-lg-6">
                                    <p>10000 points</p>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Qty<span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a>1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                            </ul>
                                        </div><!-- /btn-group -->
                                        <button type="button" class="btn btn-block btn-primary">Redeem!</button>                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Box Comment -->
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <div class="user-block">
                                <img class="img-circle" src="../dist/img/goodjob.png" alt="User Image">
                                <span class="username">Dropbox Premium</span>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <img class="img-responsive pad" src="../dist/img/photo2.png" alt="Photo">
                            <div class="row">
                                <div class="col-lg-6">
                                    <p>40000 points</p>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Qty<span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a>1</a></li>
                                                <li><a>2</a></li>
                                                <li><a>3</a></li>
                                            </ul>
                                        </div><!-- /btn-group -->
                                        <button type="button" class="btn btn-block btn-primary">Redeem!</button>                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Box Comment -->
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <div class="user-block">
                                <img class="img-circle" src="../dist/img/goodjob.png" alt="User Image">
                                <span class="username">Courage of Boxing</span>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <img class="img-responsive pad" src="../dist/img/photo2.png" alt="Photo">
                            <div class="row">
                                <div class="col-lg-6">
                                    <p>10000 points</p>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Qty<span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a>1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                            </ul>
                                        </div><!-- /btn-group -->
                                        <button type="button" class="btn btn-block btn-primary">Redeem!</button>                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>